.offer-container {
  margin-top: 30px;
  height: 250px;
}
.offer-card-1{
     
            height: 250px;
            width: 550px;
            background-color: #d4d4d4ff;
            border-radius: 15px;
         
}
.hero-text{
    margin-left: 100%;
}
  .slide-1{
    margin-left: 100px;
  }
.main-slider{
    height: 400px;
}


@media (max-width: 450px) {
    .main-slider {
        display: none;
    }
    .thum-part{
        display: none;
    }
    
    .offer-container{height: auto;
        flex-wrap: wrap;}
.offer-card-1{
        height: 210px;
    width: 350px;
}
.offer-card-1 img{
        display: contents;
}
.img-fluid{
    display: contents;
}
 }