
@media (max-width: 450px) {
      .main-collect{
        margin-top: 400px;
    }
    .main-text{
        font-size: 15px;
    }
    .collection-data{
                margin: auto;
        margin-left: 40px;
    }
}
