.forget{
    
                font-size: 12px;
                padding-left: 130px;
                text-decoration: none;
                font-weight: 500;
              
              
}
.regbtn{

              height: 32px;
              width: 359px;
              line-height: 29px;
              padding: 0;
              text-align: center;
              font-Size: 13px;
              font-Weight: 700;
          
}

@media (max-width:450px) {
    .forget{
        padding-left: 90px;
    }
    .regbtn{
        width:200px;
    }
}
@media (max-width:350px) {
    .forget{
        padding-left: 60px;
    }
}