.main-card{

       background-color:rgba(240, 240, 240, 0.67);
          width: 70%;
          margin: auto;
          margin-top:20px;
          margin-bottom:20px;
          height:auto;
          border-radius: 10px;
          display: flex;
          gap: 20px;
          padding: 20px;
          flex-wrap: wrap;

}
.sub-card{
    display: flex;
    gap: 25px;
}
.all-card {
  background-color: #3e4bd7ff;
  width: 310px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  padding-top: 35px;
}


@media (max-width: 450px) {
    .main-card{
        width: 85%;
    margin: auto;
    margin-bottom: 20px;
    height: 500px;
    border-radius: 10px;
    margin-top: 20px;
  
    }
 .all-card {
     width: 100%;
    height: 135px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding: 35px;
  }
  .sub-card{
        display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
}

@media (max-width: 440px) {
    .main-card {
        width: 95%;
        padding: 10px;
    }
}

@media (min-width: 450px) and (max-width: 700px) {
    .main-card {
        width: 90%;
    }
}

@media (min-width: 700px) and (max-width: 705px) {
    .main-card {
        width: 85%;
    }
}
