.categories-row {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 30px;
}

.category-item {
  text-align: center;
}

.category-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(181, 181, 181);
}
@media (max-width: 450px) {
  .categories-row {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 440px) {
  .category-item img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 450px) and (max-width: 1100px) {
  .categories-row {
    flex-wrap: wrap;
    gap: 20px;
  }

}


@media (min-width: 700px) and (max-width: 900px) {
.categories-row
 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;}
}

.category-item h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
.category-item img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
