.categories-row {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 30px;
}

.category-item {
  text-align: center;
}

.category-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(181, 181, 181);
}
@media (max-width: 992px) {
  .categories-row {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.category-item h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
.category-item img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
